<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Sign Up</title>
  </head>
  <body>
    <h1>Sign Up page</h1>
	<p th:if="${exception}" class="error">Wrong user or password</p>
    <form th:action="@{/signup}" method="post">
      <label for="username">Username</label>:
      <input type="text" id="username" name="username"/> <br/>
      <label for="password">Password</label>:
      <input type="password" id="password" name="password" /> <br/>
      <input type="submit" value="Sign in"/>
    </form>
  </body>
</html>