<!doctype html>
<html lang="es">
<head>
<title>Pagina Index</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<body>

	<nav th:replace="fragments/header_loader"></nav>

	<div class="jumbotron" sec:authorize="isAnonymous()">
		<h1 class="display-4">Bienvenido</h1>
		<p class="lead">Esta es una aplicación de nuestro centro de
			educativo.</p>
		<hr class="my-4">
		<p>crear una cuenta para poder consultar la información del
			personal</p>
		<p class="lead">
			<a class="btn btn-primary btn-lg" th:href="@{/login}"
				style="color: #FFFFFF;">Log in</a>
		</p>
	</div>

	<div class="jumbotron" sec:authorize="!isAnonymous()">

		<h1 class="display-4">
			Bienvenido <span th:utext="${session.username}">
		</h1>

		<p class="lead">"Aprender es descubrir que algo es posible"</p>



	</div>



</body>
</html>